body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: rgb(104, 23, 124);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

header h1 {
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilos das seções */
section {
    padding: 50px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 50px;
}

section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

section li {
    margin-bottom: 30px;
}

section li h3 {
    margin-bottom: 10px;
}

section li p {
    font-size: 14px;
    line-height: 1.5;
}

/* Estilos do formulário de contato */
form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
}

form textarea {
    height: 150px;
}

form input[type="submit"] {
    background-color: rgb(129, 31, 31);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: rgb(119, 3, 3);
}